
:root {
    --color-text:white;
    --color-p:rgb(160, 161, 175);
    --color-background:#161a20;
    --link-color:white;
    --link-visited-color:white;
    --link-background-color: white;
    --border-color: hsla(0, 0%, 100%, 0.1);
    --color-text-pagina2:rgb(160, 161, 175);


    --link-color:white;
    --link-visited-color:rgb(160, 161, 175);
    --link-background-color:rgb(58, 68, 92);
    --link-active-color:rgb(168, 167, 205);

    --kimmmmmm: #000;
}

.backgroundimage h1{
 color:pink;
}